*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.heading{
  text-align: center;
}

.covid_section{
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
.container{
  width: 80%;
  height: 100%;
  overflow: scroll;
  box-shadow: 0px 8px 15px -4px;
}
table{
  width: 100%;
  border-collapse: collapse;
}
.table_heading{
  color: white;
  text-align: left;
}
thead tr .state{
  width: 350px;
}
thead th{background-color: black;}
table th , td{
  padding: 10px 14px;
}
tbody tr{
  border-bottom: 1px solid #beb7b7;
}
tbody tr:hover{
  background-color: #e4dada;
  transition: .3s;
}
tbody td:hover{
  background-color: green;
  color: white;
}
tbody .death:hover{
  background-color: red;
  color: white;
}


/* ::-webkit-scrollbar {
  width: 20px;
} */
.container::-webkit-scrollbar {
  width: .85rem;
  background-color: none;
}
 
.container::-webkit-scrollbar-track {
  /* height: 249px;   */
  border-radius: 24px;
}
 
.container::-webkit-scrollbar-thumb {
  background-color: #757171;
  box-shadow: 0px 1px 3px black inset;
  outline: 1px solid slategrey;
  border-radius: 33px;
}